.event {
  text-align: center;
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  height: 100%;
  overflow: hidden; }
  .event .buttonGroup {
    padding: 10px; }
    .event .buttonGroup button {
      margin: 0 10px; }
  .event .eventNav {
    border-collapse: collapse; }
    .event .eventNav table {
      margin: 1em 0;
      text-align: left;
      width: 100%;
      border: 5px solid lightblue; }
    .event .eventNav tr:nth-child(even) {
      background-color: #9cd0f3; }
    .event .eventNav tr:hover {
      background-color: #93bdf5; }
    .event .eventNav th {
      border: 1px solid #0d628a;
      padding: 8px;
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #9cd0f3;
      color: white; }
    .event .eventNav td {
      border: 1px solid #ddd;
      padding: 8px; }
  .event .eventItem {
    margin: 2em 0;
    border: 5px solid lightblue;
    border-radius: 10px;
    overflow: hidden; }
    .event .eventItem .panel-header img {
      padding: 10px;
      border-radius: 15px;
      height: 50%; }
    .event .eventItem .panel-body {
      border-top: 5px solid lightblue;
      border-bottom: 5px solid lightblue;
      text-align: left;
      align-content: center;
      overflow: hidden;
      padding: 10px; }
    .event .eventItem .panel-footer {
      text-align: right; }
      .event .eventItem .panel-footer i {
        padding: 10px; }

@media screen and (min-width: 560px) {
  .event {
    padding: 0 5em; }
    .event .eventItem .panel-header {
      text-align: center;
      overflow: hidden; }
      .event .eventItem .panel-header img {
        padding: 10px;
        height: 100px; }
      .event .eventItem .panel-header h2 {
        padding: 10px; }
    .event .eventItem .panel-body {
      margin-top: 1em;
      text-align: left;
      align-content: center; } }
