.event {
  text-align: center;
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  height: 100%;
  overflow: hidden; }
  .event .eventNav {
    border-collapse: collapse; }
    .event .eventNav table {
      margin: 1em 0;
      text-align: left;
      width: 100%; }
    .event .eventNav tr:nth-child(even) {
      background-color: #9cd0f3; }
    .event .eventNav tr:hover {
      background-color: #93bdf5; }
    .event .eventNav th {
      border: 1px solid #0d628a;
      padding: 8px;
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #9cd0f3;
      color: white; }
    .event .eventNav td {
      border: 1px solid #ddd;
      padding: 8px; }
  .event .eventItem {
    margin: 2em 0;
    border: 5px solid lightblue;
    border-radius: 10px; }
    .event .eventItem img {
      padding: 10px;
      height: 50%;
      width: 50%; }
    .event .eventItem i {
      float: right; }
    .event .eventItem .panel-body {
      border-top: 5px solid lightblue;
      text-align: left;
      align-content: center;
      overflow: hidden; }
      .event .eventItem .panel-body .panel-footer {
        border-top: 5px solid lightblue; }

@media screen and (min-width: 560px) {
  .event {
    padding: 0 5em; }
    .event .eventItem img {
      float: left;
      height: 100px;
      width: 100px; }
    .event .eventItem .panel h2 {
      margin-left: 2em; }
    .event .eventItem .panel .panel-body {
      margin-top: 1em;
      text-align: left;
      align-content: center; } }
