  .event {
  text-align: center;
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  height: 100%;
  overflow: hidden;
  .buttonGroup{
    padding: 10px;
    button{
      margin: 0 10px; 
    }
  }
  .eventNav {
    border-collapse: collapse;
    table {
      margin: 1em 0;
      text-align: left;
      width: 100%;
      border: 5px solid lightblue;
    }
    tr:nth-child(even) {
      background-color: #9cd0f3;
    }
    tr:hover {
      background-color: rgb(147, 189, 245);
    }
    th {
      border: 1px solid #0d628a;
      padding: 8px;
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #9cd0f3;
      color: white;
    }
    td {
      border: 1px solid #ddd;
      padding: 8px;
    }
  }
  .eventItem {
    margin: 2em 0;
    border: 5px solid lightblue;
    border-radius: 10px;
    overflow: hidden;
    .panel-header{
      img {
        padding: 10px;
        border-radius: 15px;
        height: 50%;
      }
    }
    .panel-body {
      border-top: 5px solid lightblue;
      border-bottom: 5px solid lightblue;
      text-align: left;
      align-content: center;
      overflow: hidden;
      padding: 10px;
    }
    .panel-footer {
      text-align: right;
      i {
        padding: 10px;
      }
    }
  }
}

@media screen and (min-width: 560px) {
  .event {
    padding: 0 5em;
    .eventItem {
      .panel-header {
        text-align: center;
        overflow: hidden;
        img {
          padding: 10px;
          height: 100px;
        }
        h2 {
          padding: 10px;
        }
      }
      .panel-body {
        margin-top: 1em;
        text-align: left;
        align-content: center;
      }
    }
  }
}