// NAVBAR
.nav-item {
  margin: 10px;
}

.active {
  background-color: lightblue;
}


.city-box {
  overflow: hidden;
  display: inline-block;
  width: 350px;
  height: 250px;
  margin: 10px;
  text-align: left;
  cursor: pointer;
  position: relative;
  img {
    width: 350px;
    height: 250px;
    border: 3px solid #fff;
    border-radius: 3px;
    object-fit: cover;
    position: absolute;
  }
  .city-text {
    background-color: black;
    color: white;
    opacity: 0.75;
    width: 344px;
    margin-left: 3px;
    text-align: center;
    position: absolute;
    bottom: 0;
    padding: 10px;
    transform: translate(0, 32%);
    transition: all ease 0.5s;
  }
  .city-info span {
    margin: 0 10px;
  }
}

.city-box:hover .city-text {
  transform: translate(0);
}



// .city-hover {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   transition: all ease 0.5s;
//   opacity: 0;
//   background: rgba(20, 23, 25, 0.9);
// }